Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.log
/config.status
/configure
/pre-inst-env
*.go
*~
.#*
/haunt/config.scm
/example/site/
/scripts/haunt
*.tar.gz
*.tar.gz.asc
/website/site
/test-env
*.log
*.trs
/build-aux/install-sh
/build-aux/missing
/build-aux/mdate-sh
/build-aux/texinfo.tex
/build-aux/test-driver
/doc/.dirstamp
/doc/haunt.html/
/doc/haunt.info
/doc/stamp-vti
/doc/version.texi
